plotly==4.10.0
dash==1.16.0
dash-bootstrap-components==0.10.7
dash-core-components==1.12.0
dash-html-components==1.1.1
dash-renderer==1.8.0
dash-table==4.10.1
flask-talisman==0.7.0
numpy==1.18.5
pandas==1.0.5
scipy==1.6.3
xlsxwriter==3.0.2
openpyxl==3.0.9
gunicorn
