/* CSS related to app layout */

/* For default, desktop layout */
body {
    background-color: #fafafa
}

.grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0;
}

.card {
    min-width: 500px;
    padding: 1em;
}

.custom-tab-container {
    padding: 1.5em;
    padding-top: 1em;
    border: solid 1px #DDDDDD;
    border-top: none;
}

.custom-tab-content {
    padding-right: 1em;
    height: 496px;
    margin: 1em;
    margin-right: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.custom-tab-content-2 {

}

.link-button {
    border: none;
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
    transition: 0.5s;
}

.link-button span {
  transition: 0.5s;
}

.link-button span:after {
    content: '\00bb';
    opacity: 1;
    transition: 0.5s
}

.link-button:hover span {
    padding-right: 25px;
    transition: 0.5s;
}

.tab-parent {
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.12), 0px 1px 2px rgba(0,0,0,0.24)
}

.output-tray {
    padding: 1em;
    background-color: #ffffff;
    border: solid 1px #DDDDDD;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.12), 0px 1px 2px rgba(0,0,0,0.24)
}

.output-content {
    padding-right: 1em;
    margin: 1em;
    margin-right: 1em;
    height: 590px;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Small-width/mobile layout */
@media only screen and (max-width: 1120px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0;
    }
    .card {
        min-width: 0;
        padding: 1em;
    }

    .tab-content {
        overflow: visible
    }

    .custom-tab-container {
        padding: 1em;
        border: solid 1px #DDDDDD;
        border-top: none;
        overflow-y: visible;
        overflow-x: visible;
        height: auto;
    }

    .custom-tab-content {
        padding: 0;
        margin: 0;
        height: auto;
        overflow: visible;
    }

    .output-tray {
        border: solid 1px #DDDDDD;
        padding: 1em;
    }

    .output-content {
        padding-right: 1em;
        margin: 1em;
        margin-right: 1em;
        height: auto;
        overflow: visible;
    }

    .link-button {
        border: none;
        font-family: 'Barlow', sans-serif;
        font-size: 14px;
    }

    .link-button span:after {
        content: '\00bb';
        opacity: 1;
    }
}

