/* CSS related to app layout */

/* For default, desktop layout */
body {
    background-color: #fafafa
}

.grid-settings {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0px;
}

.card-settings {
    padding: 8px;
}

.grid-header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 0;
}

#header-left {
    font-size: 13px;
    padding: 16px;
    width: 400px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: 675px 250px;
    padding: 0;
}

.card {
    position: relative;
    min-width: 500px;
    padding: 1.5em;
    margin: 1em;
    height: auto;
    background-color: #ffffff;
    border: solid 1px #DDDDDD;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.12), 0px 1px 2px rgba(0,0,0,0.24)
}

.link-button {
    border: none;
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
    transition: 0.5s;
}

.link-button span {
  transition: 0.5s;
}

.link-button span:after {
    content: '\00bb';
    opacity: 1;
    transition: 0.5s
}

.link-button:hover span {
    padding-right: 25px;
    transition: 0.5s;
}

.tab-parent {
    height: 100%;
}

.tab-content {
    padding: 1em;
    height: 100%;
    margin: 2em;
    margin-left: 1em;
    overflow-y: scroll;
    overflow-x: hidden;
}

.output-content {
    padding-right: 1em;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#adv-n-input {
    width: 100px
}

#adv-t-input {
    width: 100px
}

.airborne-text {
    position: absolute;
    bottom: 1em;
}

.error-alert {
    position: fixed;
    width: 256px;
    top: 16px;
    right: 16px;
    z-index: 1;

    padding: 0.75rem 1.25rem;
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid transparent;
    border-color: #f5c6cb;
    border-radius: 0.25rem;
}

#visualizer {
    height: 100%;
    width: 100%;
}

/* Small-width/mobile layout */
@media only screen and (max-width: 1120px) {
    .grid-settings {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0px;
    }

    .grid-header {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0;
    }

    .card-header {
        margin: 1em;
    }

    #header-left {
        padding: 0;
        width: auto
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        padding: 0;
    }
    .card {
        min-width: 0;
        padding: 1em;
    }

    .tab-content {
        overflow: visible
    }

    .tab-content {
        height: auto;
        overflow: visible;
    }

    .output-tray {
        border: solid 1px #DDDDDD;
        padding: 1em;
    }

    .output-content {
        padding-right: 1em;
        margin: 1em;
        margin-right: 1em;
        height: auto;
        overflow: visible;
    }

    .link-button {
        border: none;
        font-family: 'Barlow', sans-serif;
        font-size: 14px;
    }

    .link-button span:after {
        content: '\00bb';
        opacity: 1;
    }

    .airborne-text {
        position: relative;
        bottom: auto;
    }
}

