/* CSS related to app layout */

/* For default, desktop layout */
.grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0;
}

.card {
    min-width: 500px;
    padding: 1em;
}

.custom-tab-container {
    padding: 1em;
    margin: 0;
    height: 445px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.link-button {
    border: none;
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
    transition: 0.5s;
}

.link-button span {
  transition: 0.5s;
}

.link-button span:after {
    content: '\00bb';
    opacity: 1;
    transition: 0.5s
}

.link-button:hover span {
    padding-right: 25px;
    transition: 0.5s;
}

/* Small-width/mobile layout */
@media only screen and (max-width: 1120px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0;
    }
    .card {
        min-width: 0;
        padding: 1em;
    }
    /* TODO: FIX HEIGHT */
    .custom-tab-container {
        padding: 1em;
        margin: 0;
        height: auto;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .link-button {
        border: none;
        font-family: 'Barlow', sans-serif;
        font-size: 14px;
    }

    .link-button span:after {
        content: '\00bb';
        opacity: 1;
    }
}

