body {
    font-family: 'Barlow', sans-serif;
    padding: 3em
}
h1, h2, h4, h5, h6 {
    color: #de1616
}

six-ft-output {
    color: #de1616
}

h4 {
    padding: 0;
    margin: 0;
}

.model-output-text {
    padding-left: 2em
}

